/** @format */

:root {
    --background-color: #e0f2f1;
    --photo-frame-border-radius: 10px;
    --photo-frame-background: #ffffff;
    --photo-frame-margin: 10px;
    --photo-frame-width: 200px;
    --photo-frame-height: 150px;
    --gallery-padding: 2em 4em;
    --text-color: #004d40;
    --title-size: 24px;
    --view-all-size: 18px;
    --view-all-text-color: #26a69a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

.gallery-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: var(--gallery-padding);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.gallery-title {
    color: var(--text-color);
    font-size: var(--title-size);
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 16px 0;
    scroll-padding-left: var(--gallery-padding);
    scroll-padding-right: var(--gallery-padding);
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 0 15px;
    color: var(--text-color);
    border-radius: 50%;
    z-index: 10;
}

.left-arrow {
    left: 0;
    margin-left: 1em;
}

.right-arrow {
    right: 0;
    margin-right: 1em;
}

.photo-frame {
    display: inline-block;
    width: var(--photo-frame-width);
    height: var(--photo-frame-height);
    margin-right: var(--photo-frame-margin);
    background-color: var(--photo-frame-background);
    border-radius: var(--photo-frame-border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    vertical-align: top;
}

.photo-frame:last-child {
    margin-right: 0;
}

.view-all {
    color: var(--view-all-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--view-all-size);
}
